.tickets__container{
    background-image: url(/src/assets/background5.jpg);
    background-size:cover; 
    background-repeat:no-repeat;
    height:100%;
}

.buy-button {
    border: 1px solid;
}

.buy-button:hover{
    background: transparent; 
    color:red;
    color:red;
    border:1px solid red;
}

@media screen and ( max-width:1024px){
    .resp__tickets{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
}

@media screen and ( max-width:600px){
    .resp__text__card {
        max-width:240px !important; 
        max-height:350px !important;
    }
}