.navbar__camping a {
    margin:0 1.5rem; 
    color:white;
    text-decoration:none;
    transition: var(--transition);
}

.navbar__camping a:hover{
    color:black;
    border-bottom: 0.15rem solid black;
    padding-bottom:0.5rem;
}

.navbar__camping a.active{
    color:black;
    border-bottom: 0.15rem solid black;
    padding-bottom:0.5rem;
}

.email__link{
    color:red;
}