.header__container{
    background-image: url(/src/assets/background2.jpg);
    background-size:cover; 
    background-repeat:no-repeat;
    height:100vh;
}

.header__title{
    color:black;
    display:flex;
    justify-content:center;
    padding-top:7rem;
}

@media screen and ( max-width:600px){
    .header__title{
        padding:2rem;
        font-size:1.6rem;
    }
}
